<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StandardOutPath</key>
	<string>/tmp/RekalAgent.out.log</string>
	<key>Label</key>
	<string>com.thomasm6m6.RekalAgent</string>
	<key>BundleProgram</key>
	<string>Contents/Resources/RekalAgent</string>
	<key>KeepAlive</key>
	<true/>
	<key>MachServices</key>
	<dict>
		<key>com.thomasm6m6.RekalAgent.xpc</key>
		<true/>
	</dict>
</dict>
</plist>
